<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>appdbpackage</servlet-name>
        <servlet-class>appdbpackage.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotPassword</servlet-name>
        <servlet-class>appdbpackage.forgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInformation</servlet-name>
        <servlet-class>appdbpackage.UpdateInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Analyst</servlet-name>
        <servlet-class>appdbpackage.Analyst</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Analyst</servlet-name>
        <url-pattern>/Analyst</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateFlightController</servlet-name>
        <url-pattern>/update_flight_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFlightController</servlet-name>
        <url-pattern>/uflightdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFlightController</servlet-name>
        <url-pattern>/dflightdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotPassword</servlet-name>
        <url-pattern>/forgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInformation</servlet-name>
        <url-pattern>/UpdateInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFlightController</servlet-name>
        <url-pattern>/addflightdetails</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>appdbpackage.SearchController</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
