<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>FortyNinerZone.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>FortyNinerZone.AdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
            <servlet-name>SingleProfileController</servlet-name>
            <servlet-class>FortyNinerZone.SingleProfileController</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>ProfileController</servlet-name>
            <servlet-class>FortyNinerZone.ProfileController</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>NewUserController</servlet-name>
            <servlet-class>FortyNinerZone.NewUserController</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>NewUserController</servlet-name>
            <url-pattern>/newuser</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>ProfileController</servlet-name>
            <url-pattern>/profile</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>SingleProfileController</servlet-name>
            <url-pattern>/Basic_search</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>BookPriceController</servlet-name>
            <url-pattern>/search_book</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>AddUpdateBookController</servlet-name>
            <url-pattern>/add_update_book</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>UpdateBookController</servlet-name>
            <url-pattern>/update_book</url-pattern>
        </servlet-mapping>
       <servlet-mapping>
            <servlet-name>AddUpdateProfileController</servlet-name>
            <url-pattern>/add-update-profile</url-pattern>
        </servlet-mapping>
       <servlet-mapping>
            <servlet-name>UpdateProfileController</servlet-name>
            <url-pattern>/updateprofile</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>AddProfileController</servlet-name>
            <url-pattern>/add_profile</url-pattern>
        </servlet-mapping>
         <servlet-mapping>
            <servlet-name>AddBookController</servlet-name>
            <url-pattern>/add_book</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>DeleteProfileController</servlet-name>
            <url-pattern>/deleteprofile</url-pattern>
        </servlet-mapping>
         <servlet-mapping>
            <servlet-name>DeletebookController</servlet-name>
            <url-pattern>/deletebooks</url-pattern>
    </servlet-mapping>
    
    
        <servlet>
            <servlet-name>ClientServlet</servlet-name>
            <servlet-class>FortyNinerZone.ClientServlet</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>EventController</servlet-name>
            <servlet-class>FortyNinerZone.EventController</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>AdminEvent</servlet-name>
            <servlet-class>FortyNinerZone.AdminEvent</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>ClientServlet</servlet-name>
            <url-pattern>/ClientServlet</url-pattern>
        </servlet-mapping>
      <servlet-mapping>
            <servlet-name>NewsController</servlet-name>
            <url-pattern>/NewsController</url-pattern>
        </servlet-mapping>
        
        <servlet-mapping>
            <servlet-name>EventController</servlet-name>
            <url-pattern>/EventController</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>AdminEvent</servlet-name>
            <url-pattern>/AdminEvent</url-pattern>
    </servlet-mapping>
</web-app>
